<div class="container">
    <h1 class="text-center">The Original 151 Pokemon</h1>
    <p class="text-center">
      <a href="/favorite">Favorites</a>
    </p>
    <% mealdb.forEach(mealdb =>{ %>
       <h2><a href="/pokemon/<%= mealdb.name %>"> <%= mealdb.name %></a></h2>
    <% }) %>

    </div>